---
import SocialLink from "../components/SocialLink.astro";
import MainHead from "../components/MainHead.astro";
---

<html
  lang="en"
  class="h-full w-full bg-gray-100 dark:bg-gray-800 dark:text-gray-300"
>
  <head>
    <MainHead />
  </head>
  <body class="h-full w-full grid grid-rows-5 grid-cols-12">
    <div
      class="col-start-3 col-span-full row-start-2 row-span-full flex flex-col gap-4"
    >
      <p class="text-4xl">
        Viktor Chernodub, SWE <a
          href="https://yandex.com/adv/"
          class="font-bold hover:text-red-400 transition-colors">@Yandex</a
        >
      </p>

      <ul class="flex gap-2">
        <li>
          <SocialLink href="https://linkedin.com/in/chernodub">
            LinkedIn
          </SocialLink>
        </li>
        <li>
          <SocialLink href="https://t.me/chernodubv">Telegram</SocialLink>
        </li>
        <li>
          <SocialLink href="https://github.com/chernodub">GitHub</SocialLink>
        </li>
      </ul>
    </div>
  </body>
</html>
