---
import Background from "../components/Background.astro";
import MainHead from "../components/MainHead.astro";
import AboutMe from "../components/AboutMe.astro";
import Contacts from "../components/Contacts.astro";
---

<html lang="en">
  <head>
    <MainHead />

    <style>
      html {
        font-size: 1.5rem;
      }

      .page {
        display: flex;
        flex-direction: column;
        gap: 20px;
        justify-content: center;
        align-items: center;
        height: 100vh;
        width: min(100%, 800px);
        padding-bottom: 15%;
        margin: auto;
        padding: 20px;
      }
    </style>
  </head>
  <body>
    <Background class="background" />
    <main class="page">
      <AboutMe />
      <Contacts />
    </main>
  </body>
</html>
