<section class="about-me">
  <h1 class="about-me__title">
    Hi, I'm <span class="about-me__name">Viktor</span>
  </h1>
  <p class="about-me__description">
    I'm currently working as a software engineer at <a
      href="https://www.saritasa.com"
      class="saritasa-link"
    >
      Saritasa
    </a>
  </p>
</section>

<style>
  .about-me {
    width: 100%;
  }

  .about-me__title {
    font-size: 2em;
  }

  .about-me__name {
    font-weight: 800;
  }

  .about-me__description {
    font-weight: 300;
    line-height: 1.4;
  }

  .saritasa-link {
    color: #f15924;
    text-decoration: none;
    font-weight: bold;
  }

  .saritasa-link:hover {
    box-shadow: 0 0 0 3px white;
    background-color: white;
    border-radius: 3px;
    transition: 100ms ease-in-out;
  }
</style>
