@import './theme.css';
@import './fonts.css';
@import './link.css';
@import './animated-container.css';
@import './heading.css';
@import './utils.css';

:root {
  background-color: var(--background-color);
  color: var(--primary-font-color);
  user-select: none;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
}

:root,
body {
  height: 100%;
}

/* Layout-specific styles */

.info-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.links-list {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.contact-link {
  display: block;
  padding: 10px;
}
